.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8fafc;
}

.App-text {
  color: #192f4e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.875rem;
  letter-spacing: -0.125rem;
  margin: 0.625rem 0 1.25rem;
}

.App-logo {
  pointer-events: none;
  height: 4.5625rem;
  margin-bottom: 0.625rem;
}

.App-header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 0;
}

.App-footer {
  flex-grow: 1;
  flex-basis: 0;
}

.App-footer-text {
  color: #52525b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 1.875rem;
}

.App-link {
  margin-top: 1.875rem;
  display: flex;
  gap: 1rem;
}

.App-link a {
  color: #52525b;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: 0.00625rem;
}

.App-container {
  width: 100%;
  max-width: 27.25rem;
  height: auto;
  border-radius: 1.25rem;
  padding: 2rem;
  gap: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 0.625rem 0.9375rem rgba(0, 0, 0, 0.03),
    0px 0.1875rem 0.6875rem rgba(0, 0, 0, 0.06);
}

@media (max-width: 600px) {
  .App-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .App-logo {
    height: 3.125rem;
  }

  .App-container {
    width: 90%;
    padding: 1.25rem;
    box-shadow: none;
  }

  .App-footer-text {
    font-size: 0.75rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .App-container {
    width: 80%;
  }
}
